#other_Side_all #homeHome_bigDiv{
	width: 90%;
	height: 520px;
}

#other_Side_all #homeHome_bigDiv #smDiv{
	width: 25%;
	height: 200px;
	background-color: #f7f7f7;
	margin: 35px;
	cursor: pointer;
}

#other_Side_all #homeHome_bigDiv #smDiv div{
	width: 80%;
	height: 160px;
	background-color: #dbdfe0;
	margin: auto;
	margin-top: 20px;
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-family: Lucida Fax;
	padding-top: 10px;
}

#other_Side_all #homeHome_bigDiv #smDiv:hover{
	background-color: #e5e3e4;
	color: 
}

#other_Side_all #homeHome_bigDiv #smDiv:hover > div{
	background-color: #cacaca;
	color: #e9f3f5;
}
#other_Side_all #homeHome_bigDiv .smDiv3{
	float: right;
}
#other_Side_all #homeHome_bigDiv .smDiv2{
	float: right;
}

#other_Side_all #homeHome_bigDiv .smDiv1{
	float: left;
}