#left_pannel_all{
	background-color: #fff;
	width: 300px;
	height: 550px;
	overflow-y: auto;
	box-shadow: 1px 0px 10px rgba(0,0,0,0.3);
	margin-right: 0px;
}




#left_pannel_all  #myUL{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		width: 100%;
		overflow: auto;
	}
	#left_pannel_all  #myUL li a{
		border-bottom: 1px solid #03b9b9;
		margin-top: -1px;
		background-color: transparent;
		padding: 10px;
		text-decoration: none;
		font-size: 18px;
		color: #03b9b9;
		display: block;
		
	}
	#left_pannel_all  #myUL li a:hover:not(.header){
		background-color: #eee;
	}